<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Regions in selected country</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script rel="script" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
	<a href="/">Accueil</a>
	<div th:if="${selectedCountry != null}">
		<h3>Regions in <span th:text="${selectedCountry}"></span></h3>
	</div>
	<div th:if="${selectedCountry == null}">
		No country selected
	</div>
	
	<table class="table table-striped col-4" style="width:80%;">
       <tr th:each="region: ${regions}">
           <td th:text="${region.regionName}">
           <td th:text="${region.caseCount}">
		   <td><a th:href="@{/country/{country}/delete/{region}(country=${country}, region=${region.id})}">delete</a></td>
       </tr>
   	</table>
   	
   	<h4>Add or modify a region</h4>
	
	<form action="#" th:object="${form}" method="post">
		<label for="name">Region name :</label>
		<input type="text" id="name" name="name">
		<label for="cases">Cases :</label>
		<input type="number" id="cases" name="cases">
		<input type="submit" value="Create">
	</form>
</body>
</html>