<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>INDEX</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script rel="script" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
	<h3>Select a country</h3>
	
	<form action="#" th:object="${form}" method="post">
		<select th:field="*{country}" >
			<option th:each="country : ${countries}" th:value="${country.name}" th:text=${country.name}></option>
		</select>
		<input type="submit" value="Submit">
	</form>
	
	<p>List of unsafe countries (at least 1 region > 25000 covid cases) :</p>
	<ul>
		<div th:if="${not #lists.isEmpty(unsafeCountries)}">
			<li th:each="unsafeCountry : ${unsafeCountries}" th:value="${unsafeCountry.name}" th:text=${unsafeCountry.name}></li>
		</div>
		<div th:unless="${not #lists.isEmpty(unsafeCountries)}">
			No unsafe country.
		</div>
	</ul>
</body>
</html>