<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Transactions du compte sélectionné</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script rel="script" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
	<a href="/">Accueil</a>
	<div th:if="${selectedAccount != null}">
		<h3>Transactions de l'IBAN : <span th:text="${selectedAccount}"></span></h3>
	</div>
	<div th:if="${selectedAccount == null}">
		Pas de compte sélectionné
	</div>
	
	<table class="table table-striped col-4" style="width:80%;">
		<thead>
	       <tr>
	           <th scope="col">ID</th>
	           <th class="text-center" scope="col">Montant</th>
	           <th class="text-center" scope="col">Créditeur</th>
	           <th class="text-center" scope="col">Débiteur</th>
	       </tr>
       </thead>
       <tr th:each="transaction: ${transactions}">
            <td th:text="${transaction.id}">
            <td class="text-center" th:text="${transaction.amount}">
            <td class="text-center" th:text="${transaction.creditor.iban}">
            <td class="text-center" th:text="${transaction.debtor.iban}">
       </tr>
   	</table>
</body>
</html>