<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Frontend bancaire</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script rel="script" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
	<h2>Liste des comptes enregistrés :</h2>
	<table class="table table-striped col-4" style="width:80%;">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th class="text-center" scope="col">IBAN</th>
            <th class="text-center" scope="col">Transactions</th>
            <th class="text-center" scope="col"></th>
        </tr>
        </thead>
        <tr th:each="account: ${accounts}">
            <td th:text="${account.id}">
            <td class="text-center" th:text="${account.iban}">
            <td class="text-center"><a th:href="@{/account/{account}(account=${account.id})}">Accéder aux transactions</a></td>
            <td class="text-center"><a th:href="@{/account/{account}/delete(account=${account.id})}">Supprimer</a></td>
        </tr>
    </table>
    
    <h4>Ajouter un compte</h4>
	
	<form action="#" th:object="${form}" method="post">
		<label for="iban">IBAN :</label>
		<input type="text" id="iban" name="iban">
		<input type="submit" value="Ajouter">
	</form>
    <span th:if="${invalidIban != null}">IBAN Invalide</span>
    
    <h2 style="margin-top:1em;">Liste des transactions :</h2>
	<table class="table table-striped col-4" style="width:80%;">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th class="text-center" scope="col">Montant</th>
            <th class="text-center" scope="col">Créditeur</th>
            <th class="text-center" scope="col">Débiteur</th>
        </tr>
        </thead>
        <tr th:each="transaction: ${transactions}">
            <td th:text="${transaction.id}">
            <td class="text-center" th:text="${transaction.amount}">
            <td class="text-center" th:text="${transaction.creditor.iban}">
            <td class="text-center" th:text="${transaction.debtor.iban}">
        </tr>
    </table>
    
    <a th:href="@{/randomTransactions}">Ajouter 100 transactions aléatoires</a>
</body>
</html>