<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Vérification IBAN</title>
</head>
<body>
	<h1>Vérification IBAN</h1>
	<form action="#" method="post" th:action="@{/}" th:object="${form}" class="justify-content-center mb-3 row">
		<label for="iban">Iban :</label>
		<input type="text" id="iban" name="iban">
		<button type="submit" class="btn btn-primary">Vérifier</button>
	</form>
	<div th:if="${result}">
		<p th:if="${result.isValid}" th:text="'Le code IBAN ' + ${result.getCode()} + ' est valide'" style="color:green;"></p>
		<p th:unless="${result.isValid}" th:text="'Le code IBAN ' + ${result.getCode()} + ' est invalide'" style="color:red;"></p>
	</div>
</body>
</html>