<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Consultation des vaccinations</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script rel="script" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div id="main" class="container">
    <header th:replace="elements :: header"></header>
    <br>
    <th:block th:unless="${result == null}">
        <div th:replace="elements :: countryDetails">
    </th:block>
    </div>
</body>
</html>
