<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>html elements</title>
</head>
<body>
    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">Nombre de vaccinations</span>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Accueil</a>
                        </li>
                    </ul>
            </div>
        </nav>
    </header>

    <div class="row justify-content-center" th:fragment="table">
        <div class="col-3">
            <table class="table table-dark table-striped col-4">
                <thead>
                <tr>
                    <th scope="col">Pays</th>
                    <th class="text-center" scope="col">Nombre de vaccinations</th>
                </tr>
                </thead>
                <tr th:each="vaccination: ${vaccinations}">
                    <td th:text="${vaccination.country}">
                    <td class="text-center" th:text="${vaccination.vaccinated}">
                </tr>
            </table>
        </div>
    </div>

    <div th:fragment="form">
        <form action="#" method="post" th:action="@{/}" th:object="${form}" class="justify-content-center mb-3 row">
            <div class="col-auto">
                <label for="countrySelect" class="visually-hidden">Pays</label>
                <select id="countrySelect" th:field="*{country}" class="form-select">
                    <option th:each="vaccination: ${vaccinations}" th:value="${vaccination.country}" th:text="${vaccination.country}"></option>
                </select>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>
        </form>
    </div>

    <div th:fragment="countryDetails">
        <h3 th:text="${result.country}"></h3>
        <p>Ce pays a vacciné <span th:text="${result.vaccinated}"></span> de ses citoyens.</p>
    </div>
</body>
</html>