<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Client REST - Vaccination</title>
</head>
<body>
	<h1>Client REST - Vaccination</h1>
	<table>
		<tr th:each="vaccination: ${vaccinations}">
			<td th:text="${vaccination.country}">
			<td th:text="${vaccination.vaccinated}">
		</tr>
	</table>

	<form action="#" th:action="@{/vaccination/}" th:object="${form}" method="post">
		<select th:label="Pays" th:field="*{country}">
			<option th:each="vaccination: ${vaccinations}" th:value="${vaccination.country}" th:text="${vaccination.country}"></option>
		</select>
		<input type="submit" value="Envoyer">
	</form>

	<div th:if="${result != null}">
		<p>Vous avez selectionné <span th:text="${result.country}"></span></p>
	</div>
</body>
</html>